[Unit]
Description=Zfs Prometheus metrics

[Service]
Environment="ZPOOL_SCRIPTS_AS_ROOT=1"
ExecStart=/var/lib/zfsprom/zfsprom.py
Restart=always

[Install]
WantedBy=multi-user.target
